CompileFlags:
  Add: 
  -std=c++17,
  -I/home/weasel/Qt/6.7.2/gcc_64/include,
  -I/home/weasel/Qt/6.7.2/gcc_64/include/QtWidgets,
  -I/home/weasel/Qt/6.7.2/gcc_64/include/QtCore,
  -I/home/weasel/Qt/6.7.2/gcc_64/include/QtGui,
  -I${workspaceFolder}/inc,
  -I${workspaceFolder}/inc/parser,
  -I${workspaceFolder}/inc/model,
  -I${workspaceFolder}/inc/core,
  -I${workspaceFolder}/inc/core/editor,
  -I${workspaceFolder}/inc/core/fitness,
  -I${workspaceFolder}/inc/core/crossover,
  -I${workspaceFolder}/build,
  -I${workspaceFolder}/debug
